/*
    Coming Soon
*/
body.full-height{
    height: 100vh;
    overflow: hidden;
}
.coming-soon{
    padding: 50px 0;
    background: url('../images/coming-soon/bg-coming-soon.jpg');
    @include background-cover();
    position: relative;
    min-height: 100vh;
    color: white;
    overflow-y: auto;
    .content{
        width: 530px;
        background: $white-text;
        padding: 35px 50px;
        position: absolute;
        top: 50%;
        left: 10%;
        @include translate-y(-50%);
        a{
            display: inline-block;
            img{
                display: block;
            }
        }
        h3{
            padding-top: 15px;
            @include font-BilyOhio();
            font-size: 50px;
            line-height: 60px;
            color: $mine-shaft-text;
        }
        > p{
            @include font-regular();
            font-size: 14px;
            color: #4c4f50;
            span{
                display: block;
                color: $nandor-text;
                padding-bottom: 25px;
            }
        }
        .count-down{
            margin-top: 30px;
            margin-bottom: 15px;
            li{
                padding: 15px 30px;
                text-align: center;
                position: relative;
                display: inline-block;
                &:before{
                    content: ':';
                    @include font-bold();
                    font-size: 30px;
                    color: #4c4f50;
                    position: absolute;
                    top: 17px;
                    right: -7px;
                }
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                    &:before{
                        display: none;
                    }
                }
                span{
                    display: block;
                    min-width: 50px;
                    @include font-bold();
                    font-size: 30px;
                    line-height: 30px;
                    color: #4c4f50;
                }
                p{
                    @include font-regular();
                    font-size: 14px;
                    color: #4c4f50;;
                }
            }
        }
        form{
            .position-relative{
                position: relative;
            }
            input{
                width: 100%;
                @include font-regular();
                font-size: 14px;
                color: $mine-shaft-text;
                background: transparent;
                height: 45px;
                line-height: 45px;
                border: 1px solid #dcddde;
                border-radius: 45px;
                padding: 0 135px 0 30px;
                outline: none;
                @include transition();
                &:focus{
                    background: transparent;
                    border: 1px solid $primary-color;
                }
            }
            a{
                display: block;
                background: $primary-color;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                font-size: 14px;
                @include font-bold();
                color: $white-text;
                line-height: 45px;
                padding: 0 22px;
                border-top-right-radius: 45px;
                border-bottom-right-radius: 45px;
            }
        }
    }
}