/*
    Testimonial
*/
.our-testimonial-v2{
    @extend .client-say;
    background: transparent;
    .garden-title{
        h3{
            color: $mine-shaft-text;
        }
    }
    li{
        margin-bottom: 65px;
        &:last-child, &:nth-last-child(2){
            margin-bottom: 0;
        }
    }
}
