////[Table of contents]

////1. Color

////[End table of contents]

//// 1. Color codes ------------------------------------------------ */

//// #64a507

$primary-color: #64a507;

$white-text: #ffffff;
$mine-shaft-text: #202020;
$nandor-text: #4e5453;